<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.cms.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.briup.cms.entity.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="read_times" jdbcType="INTEGER" property="readTimes" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="thumb_down" jdbcType="INTEGER" property="thumbDown" />
    <result column="thumb_up" jdbcType="INTEGER" property="thumbUp" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, content, publish_time, read_times, status, thumb_down, thumb_up, title, category_id, 
    user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.briup.cms.entity.Article">
    insert into cms_article (id, content, publish_time, 
      read_times, status, thumb_down, 
      thumb_up, title, category_id, 
      user_id)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{readTimes,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{thumbDown,jdbcType=INTEGER}, 
      #{thumbUp,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.cms.entity.Article">
    insert into cms_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="publishTime != null">
        publish_time,
      </if>
      <if test="readTimes != null">
        read_times,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="thumbDown != null">
        thumb_down,
      </if>
      <if test="thumbUp != null">
        thumb_up,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readTimes != null">
        #{readTimes,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="thumbDown != null">
        #{thumbDown,jdbcType=INTEGER},
      </if>
      <if test="thumbUp != null">
        #{thumbUp,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.cms.entity.Article">
    update cms_article
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null">
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readTimes != null">
        read_times = #{readTimes,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="thumbDown != null">
        thumb_down = #{thumbDown,jdbcType=INTEGER},
      </if>
      <if test="thumbUp != null">
        thumb_up = #{thumbUp,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.cms.entity.Article">
    update cms_article
    set content = #{content,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      read_times = #{readTimes,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      thumb_down = #{thumbDown,jdbcType=INTEGER},
      thumb_up = #{thumbUp,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>